/* eeeeee
32e0c4
0d7377
212121 */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.hero{
    /* height: 100vh; */
    background-image: url('bg.jpg');
    background-position: fixed;
    background-size: cover;
    text-align: center;
    padding-bottom :30px;
}

.hero-icon{
    font-size: 250%;
    color:#32e0c4;
    padding-top:30px;
    padding-bottom : 40px;
}

p{
    padding: 5px 15px;
}


.num{
    color: #0d7377;
}
.links {
    padding-bottom: 10px;
}
.links a{
    text-decoration: none;
    color : #0af3ad;
    margin:auto 10%;
    font-weight: bold;
}

.hero-icon:hover{
    color:#0d7377;
}

.container{
    max-width: 600px;
    margin: auto;
}

.content-wrap{
    background-color: white;
    border-radius: 15px;
}

div .gray{
    background-color: #eeeeee;
}

.left{
    text-align :left;
}


.white h1{
    font-size: 180%;
    font-weight: bold;
    padding:15px 0;
}

.gray .message{
    padding:45px 20px;
    font-size : 120%;
}

.white h2{
    font-size : 130%;
    padding: 10px 10px;
}

.support-p{
    padding-bottom : 15px;
}

.icons ul{
    list-style: none;
    padding:25px 20px;
}

.icons ul li{
    display: inline-block;
}

.icons i{
    font-size : 120%;
    padding-right : 10px;
    color:black;
    transition: all 0.5s;
}

.icons i:hover{
    color: #0d7377;
}
